## 딕셔너리 활용

In [2]:
menu = {'김밥':2500, '참치김밥': 3500, '라면':3000, '치즈라면': 4000}

for k in menu.keys() :
    print(k)

for k in menu.values() :
    print(k)

for k in menu.items() :
    print(k)

for k1, k2 in menu.items() :
    print(f"key:{k1}\tvalue:{k2}")

김밥
참치김밥
라면
치즈라면
2500
3500
3000
4000
('김밥', 2500)
('참치김밥', 3500)
('라면', 3000)
('치즈라면', 4000)
key:김밥	value:2500
key:참치김밥	value:3500
key:라면	value:3000
key:치즈라면	value:4000

In [4]:
# 학생들의 이름과 점수를 저장한 딕셔너리
grades = {
    '홍길동': 85,
    '이순신': 92,
    '김유신': 78,
    '유관순': 95
}

# 85점 이상인 학생들의 이름과 점수를 출력
print("85점 이상인 학생 : ")

num = 0
for  name, score  in grades.items():
    if score >= 85 :
        num += 1
        print(f"{name} : {score}점")
print(f"85점 이상인 학생은 총 {num}명 입니다.")

85점 이상인 학생 :
홍길동 : 85점
이순신 : 92점
유관순 : 95점
85점 이상인 학생은 총 3명 입니다.

In [ ]:
menu = {'아메리카노': 2500,'카페라테': 3000,'카푸치노': 3000,'오렌지주스': 4000,
        '콜라': 1500,'자몽주스': 4000 }

print("주문할 음료를 말씀하세요.")
s = 0

for i, j  in menu.items():
    cups = int(input(i+" 개수 (잔) : "))
    s += cups * j

print("="*20)
print(f"총 금액은 : {s:,}원")

while True:
    money = int(input("지불하실 금액을 입력하시오.>> "))
    print("-"*20)

    if money < s:
        print("금액이 부족합니다.")
    else:
        print(f"거스름돈은 {money - s : ,}원 입니다")
        break

In [ ]:
addr={}

addr['홍길동'] = '010-1111-1234'
addr['이길동'] = '010-2222-1234'
addr['박길동'] = '010-3333-1234'
addr['최길동'] = '010-4444-1234'
addr['김길동'] = '010-5555-1234'
addr['고길동'] = '010-6666-1234'

name = input('search name: ')

if name in addr:    # if와 in이 함께 사용되었다
    print(f"{name}의 전화번호는 {addr[name]}입니다.")
else:
    print("없는 이름입니다")