In [1]:
import warnings
warnings.filterwarnings(action='ignore') 

import datetime
import pandas as pd
import numpy as np
import csv
import folium
import matplotlib.pyplot as plt
plt.rc('font',family='D2CodingLigature Nerd Font')
# plt.rcParams['axes.unicode_minus']=False  # '- 표시

## loc와 iloc (조건을 붙이려면 loc)

In [2]:
data = {
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12]
}
df = pd.DataFrame(data, index=['a','b','c','d'])
df

   A  B   C
a  1  5   9
b  2  6  10
c  3  7  11
d  4  8  12

In [3]:
df.loc[df['A']>=3]

   A  B   C
c  3  7  11
d  4  8  12

In [4]:
df.loc[df['A']>=3, "C"]

c    11
d    12
Name: C, dtype: int64

In [5]:
df.iloc[1, 0]

np.int64(2)

In [6]:
df.loc['b','A']

np.int64(2)

In [ ]:
# df.loc['b':'d', 'A':'B']

df.iloc[1:4, 0:2]   # 숫자는 레인지처럼 계산된다

   A  B
b  2  6
c  3  7
d  4  8

In [10]:
df.loc[df['A']>=2, 'A':'B']

   A  B
b  2  6
c  3  7
d  4  8

In [13]:
# df.loc[['a','c'], ['A','C']]

df.iloc[ [0,2] , [0,2] ]

   A   C
a  1   9
c  3  11